<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign UP</title>

    <style>
    .m{
        color:green;
    }
    </style>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {% for fm in form%} 
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br><br>
        {% endfor %}
        <input type="submit" value="Sign Up">
    </form>
    <form action="{% url 'login' %} " method="post">
        {% csrf_token %}
        <input type="submit" value="login">
    </form>

    {% if messages %} 
        {% for message in messages %}
            <p class="m">{{message}} </p>
        {% endfor %}
    {% endif %}
    
</body>
</html>